/* body {
	font-family: 'Caveat', cursive;
}


.top{
	display: flex;
	width: 100vw;
	background-color: rgb(214, 203, 203);
	justify-content: center;
	border-radius:initial;
}

.menus{
	max-width: 160px;
}

.menus a{
	display: block;
	padding: 15px;
	text-decoration: none;
	color:rgb(214, 203, 203);
}
label {
	display: block;
	margin: 0 0 4px 0;
	padding: 15px;
	line-height: 1;
	color:rgb(128, 107, 107);
	background: rgb(214, 203, 203);
	cursor: pointer;
}

input {
	display: none;
}

.menus ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: #f4f4f4;
}

.menus li{
	height: 0;
	margin-left: 20px;
	color: rgb(128, 107, 107);
	overflow: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition:  all 0.5s;
	-o-transition:  all 0.5s;
	transition:  all 0.5s;
}

#menus_bar:checked ~ #link li{
	height: 54px;
	opacity: 1;
} */
